.registration_page_wrapper {
  height: 100%;
  /* background-image: url("../public/Images/banner-01.jpg"); */
}

.registration_page_wrapper input::-webkit-outer-spin-button,
.registration_page_wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ensure the input stays the same size */
.registration_page_wrapper input[type="number"] {
  -moz-appearance: textfield;
}

.registration_page_wrapper button.ant_btn_primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
.registration_page_wrapper button.ant_btn_default {
  background-color: #fff !important;
  border-color: #d9d9d9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.registration_page_wrapper * {
  line-height: 30px !important;
}

.registration_page_wrapper button {
  line-height: 40px !important;
  display: flex;
  align-items: center;
}
